.c-breadcrumbs-ms {
	color: $text-color;
	font-size: .85rem;

	ol {
		@include _list-unstyled();
		margin: 0;
		padding: .5em 0;
	}

	li {
		display: inline;

		&:after {
			content: '>';
			padding: 0 3px;
		}
		&:last-child {
			&:after {
				content: '';
			}
		}
	}

	a {
		color: $text-color;
		text-decoration: none;

		&:hover {
			color: $link-hover-color;
		}
	}
}
